<section id="left_menu" style="width: 200px; float: left;">
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" style="color: slategray">사이트 게시판 분류</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color: slategray">게시판 분류</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color: slategray">게시판</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" style="color: slategray">이벤트</a>
    </li>
</ul>
</section>