    {#  HEADER  #}
    {% include 'djangoProject/header.html' %}
    {#  HEADER  #}

    {#  SECTION- main  #}
    <section class="join_wrap">
        <div class="contents">
            <article class="page-title">
                <h2>로그인</h2>
                <p>이파마스터에서는<Br>필라테스, 피트니스 지도자들의 전문성을 높여주는<br>다양한 주제의 온라인 강의를 만나 보실 수 있습니다.<br><br>현업 트레이너, 의사, 물리치료사, 스포츠 의.과학 박사 등<br>분야별 전문가의 지식과 경험을<br>온라인 강의로 공부해 보세요.</p>
            </article>
            <article class="mgtp25">
                <form name="login" action="#" method="POST"  id="loginWrite">
                <input type="hidden" name="ret_url" value="<?=$ret_url?>" >
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example
                    .com">
                </div>

                <div class="mb-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <input name="password" class="form-control" id="inputPassword">
                    <div class="myform_box">
                        <span class="clear"></span>
                        <div class="pswd-show on"><i>보기</i></div>
                    </div>
                    <div for="loginpwd" class="info-msg">
                        <label id="loginpwd-error" class="error" for="loginpwd"><span class="msg-box error">비밀번호를 입력해주세요.</span></label>
                    </div>
                </div>

                    <button type="button" class="btn btn-light"><a href="javascript:;" class="" id="Login" onClick="bsLogin();">로그인</a></button>
                </form>
            </article>
            <article class="login_find">
                <a href="/member/idFind" class="adClick" data-adarea="이파마스터 로그인_아이디 찾기">아이디 찾기</a>
                <a href="/member/pwFind" class="adClick" data-adarea="이파마스터 로그인_비밀번호 찾기">비밀번호 찾기</a>
                <a href="/member/join" class="adClick" data-adarea="이파마스터 로그인_회원가입">회원가입하기</a>
            </article>
            <article>
                <div class="blank-or type1"><span>OR</span></div>
            </article>
{#            <article class="join-input">#}
{#                <a href="javascript:;" class="btn-full icn-social fb" onclick="fb_login();">Facebook으로 로그인하기</a>#}
{#                <a href="javascript:;" class="btn-full icn-social gg"  id="googleBtn">Google로 로그인하기</a>#}
{#                <!--a href="javascript:;" class="btn-full icn-social nv">NAVER로 로그인하기</a-->#}
{#            </article>#}
        </div>
    </section>
    {#  SECTION- main  #}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        function bsLogin(){
            let id = $('#exampleFormControlInput1').val()
            let pw = $('#inputPassword').val()
            console.log(id);

            let logindata = {
                "usr_id" : id,
                "password" : pw
            }
            jQuery.ajax({
                url: "http://127.0.0.1:8000/admin/user/login/",
                type: "POST",
                dataType: "json",
                data: JSON.stringify(logindata)
            }).done(function (data) {
                if (data.code.includes('AE') !== false ){
                    alert(data.message);
                    return;
                }else{
                    alert("로그인이 성공적으로 진행되었습니다.");
                }
            }).fail(function (data) {
                alert("로그인중 서버와의 통신에 문제가 발생하였습니다.\n원인: " + data.reason);
            })
        }
    </script>

    {#  LAYOUT- footer  #}
    {% include 'djangoProject/footer.html' %}
    {#  LAYOUT- footer  #}